body{
  font-family: 'RocknRoll One', sans-serif;
  margin: 0;
}

#header{
  height: 10vh;
  background: linear-gradient(#00c6ff, #0072ff);
  color:white;
  margin-bottom: 0;
}

#headerContainer{
  max-width: 1200px;
  margin: auto;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  h1{
    font-size: 2.5rem;
  }
}

#rightContent{
  display: flex;
  justify-content: right;

  p{
    padding-right: 1vw;
    font-size: 1.5rem;
    &:hover{
      opacity: 0.7;
    }
  }
}

main{
  max-width: 1280px;
  margin:0 auto;
  height: 90vh;
  background-color:   #EEF9FF;
  border:  solid 1px #eeeeee;

  h2{
    height: 10%;
    text-align: center;
    font-size: 2rem;
    margin-top: 3vh;
  }

  table{
    margin: auto;
    width: 90%;
    height: 30%;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;

    tbody{
      width: 100%;

      th{
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid #000;
        &:nth-child(2){
          width: 40%;
        }
        &:nth-child(1){
          width: 30%;
        }
        &:nth-child(3){
          width: 30%;
        }
      }

    td{
      text-align: center;
      vertical-align: middle;
      border-bottom: 1px solid #000;
      &:nth-child(2){
        width: 40%;
      }
      &:nth-child(1){
        width: 30%;
      }
      &:nth-child(3){
        width: 30%;
      }
    }
    }
  
  }

  #commentArea{
    display: flex;
    height: 55%;

    #commentLeft{
      width: 50%;

      #displayComment{
        display: flex;
        width: 80%;
        margin: auto;
        margin-bottom: 0.5vh;
        border: 1px solid gray;
        background-color: rgb(243, 243, 243);
        padding: 1vh 1vw;

        .userName{
          padding-right: 20px;
        }
      }
    }

    #commentRight{
      width: 50%;

      textarea{
        display: block;
        margin: auto;
        border: 1px solid #000;
        background-color: #fff;
          }

          p{
            margin: auto;
            margin-top: 2vh;

            input{
              width: 80%;
              display: block;
              margin: auto;
              padding: 0.4em 1em;
              text-decoration: none;
              background: #F99292;/*ボタン色*/
              color: #FFF;
              font-family: 'Reggae One', cursive;
              font-weight: bold;
              font-size: 1.2rem;
              border-bottom: solid 4px #FB7D79;
              border-radius: 3px;
              text-align: center;
            
              &:active{
                  /*ボタンを押したとき*/
              -webkit-transform: translateY(4px);
              transform: translateY(4px);/*下に動く*/
              border-bottom: none;/*線を消す*/
              }
            
              &:hover{
                opacity: 0.7;
              }
            
              &:focus{
                outline: none;
              }    
        }
      }
    }
  }
}  